body {
  margin: 0;
  background-color: #003314;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.appContainer {
  max-width: 500px;
  margin: 0;
  padding: 32px;
  background-color: #f1edc8;
  border-radius: 12px;
  font-family: Arial, sans-serif;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 24px;
}

.uploadBox {
  border: 2px dashed #333;
  padding: 24px;
  border-radius: 8px;
  background-color: #fffde7;
}

.uploadBox p {
  margin-top: 16px;
  font-size: 0.9rem;
  color: #555;
}

.panda {
  color: black;
}
.pal {
  color: white;
  -webkit-text-stroke: 2px black;
}